

nav{font-style: italic; 
    
   margin-left: auto ;
   margin-right:auto ;
background-color: aqua;
}

ul{
    text-align: center;
   
}

li{
display: inline;
font-size: x-large;
 
}
.a{flex display: ;
flex}

a:hover{color: red;}

a{ text-decoration: none;
margin: 15px;
}

.a{
    display: flex;
    width: 80%;
    align-items: center;
margin-left: 100px;
}
p{font-size: x-large;}


h1 {border: solid 3px black;
text-align: center;}

iframe{padding-left: 200px; }

.b{
   
    display: flex;
    width: 90%;
    justify-content: center;
}

  .b h2 {
    align-self: center;
  }
  .b {
    position: relative;
  }
  
  .b video {
   
    margin-left: 400px; 
      
    display: inline-block;
  }
  
  .b h2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  
.c{ 
text-decoration: underline;}
 
 table{width: 600px; height: 400px;}
 td {text-align: center;}

 
 
 #contact {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="number"],
  form input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    background-color: darkgreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  